/* ===== Calendar Layout ===== */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
  }

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(189,189,189,0.73),
    rgba(157,156,154,0.73)
  );
}

.calendar-layout {
  display: flex;
  flex-direction: column; /* stack vertically */
  
  max-width: 900px;
  margin: 0 auto; /* center on wide screens */
}

/* Progress Bar Container */
.progress-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 20px;      
}
.step.uncomplete {
  background-color: #209AE6;
  color: black;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  font-size: 15px;
  border: 2px solid #209AE6;
}
.step.active {
  background-color: #C9E620;
  color: black;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  font-size: 15px;
  border: 2px solid #C9E620;
}
.step.complete {
  background-color: #6AE04D;
  color: black;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  font-size: 15px;
  border: 2px solid #6AE04D;
}  
.arrow {
  margin: 0 5px;
  color: black;     
}

/* Header  */
.header {
   width: 100%;
   background: #795548; 
   padding: 15px; 
   margin-top: 10px;  
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.header h2{
  font-size: 25px;
  text-align: center;
  align-items: center;
  color: #FAF7F2;
  font-weight: bold;
}
/* Info  - need to fix*/


.info{
  width: 200px;
  height: 100px;
  box-shadow: 0px 5px 10px #4E342E;
  margin-top: 20px; 
  margin-left: 250px; 
  padding: 20px;
  text-align: center;
  background-color: #FAF7F2; 
  border-radius: 15px;
}

/* Calendar */
.calendar {
  background: #FAF7F2;
  margin-top: 20px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 5px 10px #4E342E;
  width: 700px;
  
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  font-size: 16px;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  width: 100%;
}
.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
}

.day {
  font-family: 'Courier New', Courier, monospace;
  padding: 15px;
  text-align: center;
  border-radius: 8px;
  font-weight: bold;
  font-size: 12px;
  color: white;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);

}
.unavailable {
  background: #d33131;
  cursor: not-allowed;
}
.available {
  background: #32c232;
  cursor: pointer;
}

.available:hover {
  background: #2ecc71;
}
.today {
  border: 2px solid #000;
  background-color: #ffe680;
}


/* ===== Time Panel ===== */
.time-panel {
  margin-top: 20px;
  background: #FAF7F2 ;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 5px 10px #4E342E;
}

.time-panel h3 {
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center;
}

.times {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  gap: 8px;
}

/* Time button */
.times button {
  padding: 6px 4px;
  font-size: 13px;
  background: #333;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
}

.times button:hover {
  background: #2ecc71;
}
/* Cart Icon Styles */
#cart-icon {
  font-size: 24px;
  cursor: pointer;
  padding: 1rem;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  margin-top: 10px;
  color: black
      
}

/* Side Cart Styles */
#side-cart {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6) ;
  display: none;
  z-index: 1000;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#side-cart.open {
  display: flex;
}

.cart-panel{
  position: relative; 
  width: 500px;
  height: 500px;
  background: #DE8D45;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

    /* Close Button inside Cart */
#close-cart {
   position: absolute;
  top: 12px;
  right: 12px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);  
}

.continue-btn {
  width: 90px;        /* exact size from image */
  height: 20px;
  border-radius:20px;
  background-color: #f4b400;
  border: none;
  font-size: 15px;
  cursor: pointer;
  display: block;
  margin: 12px auto;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
  text-decoration: none;
  color: inherit;
  margin-top: 80%;
      
}

