/* General Reset and Body Styles */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(189,189,189,0.73),
    rgba(157,156,154,0.73)
  );
}
/* Progress Bar Container */
.progress-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 20px;      
}
.step.uncomplete {
  background-color: #209AE6;
  color: black;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  font-size: 15px;
  border: 2px solid #209AE6;
}
.step.active {
  background-color: #C9E620;
  color: black;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  font-size: 15px;
  border: 2px solid #C9E620;
}
.step.complete {
  background-color: #6AE04D;
  color: black;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  font-size: 15px;
  border: 2px solid #6AE04D;
}  
.arrow {
  margin: 0 5px;
  color: black;     
}
/* Header */
.header {
   width: 100%;
   background: #795548; 
   padding: 15px;   
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.header h2{
  font-size: 25px;
  text-align: center;
  align-items: center;
  color: #FAF7F2;
  font-weight: bold;
}
/* Details box*/
.detail-box{
  width: 600px;
  min-height: 500px;
  box-shadow: 0px 5px 10px #4E342E;
  margin: auto;  
  padding: 20px;
  text-align: center;
  background-color: #FAF7F2; 
  border-radius: 15px;
  border: 3px solid #795548;
  margin-top: 30px;
  margin-bottom: 20px; 

}

.details {
  margin-top: 10px;
  font-weight: bold;
  margin-right: 20%;

}
.confirmation{
  margin-top: 40px;
  font-weight: bold;
  
}
.confirmation p{
  margin-bottom: 20px;
  font-size: 15px;
  border-radius: 15px;
}
label {
  margin-top: 30px;
  font-size: 11px;
}

.detail-box input{
  
 display: inline-block;
 float: right;
 clear: right;
 width: 250px;
 
}
.detail-box p {
  margin-top: 30px;
}

p{
 
  font-weight: bold;
  align-content: center;
  text-align: center;
}

/* payment button*/
.payment-btn{
 width: 90px;        /* exact size from image */
  height: 40px;
  border-radius:20px;
  background-color: #f4b400;
  border: none;
  font-size: 15px;
  cursor: pointer;
  display: block;
  margin: 12px auto;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
  text-decoration: none;
  color: inherit;
  text-align: center;
  align-content: center;
  font-weight: bold;
}
.terms a {
  color: #4CAF50;
  text-decoration: underline;
}

.terms a:hover {
  text-decoration: none;
}
/* Disabled state */
.payment-btn:disabled {
  opacity: 0.4;
  pointer-events: none;
}

/* Enabled state */
.payment-btn.active-btn {
  opacity: 1;
  pointer-events: auto;
  cursor: pointer;
}

