* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  }
body {
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(189,189,189,0.73),
    rgba(157,156,154,0.73)
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
.bear-icon {
  position: absolute;
  top: 5px;
  left: 0px;
  width: 200px;      /* adjust to match image */
  height: auto;
  
}
.container {
  width: 90%;
  max-width: 900px;
  display: flex;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  overflow: hidden;
  box-shadow: 0px 5px 10px #4E342E;
}

/* login form */
.form-section {
  width: 50%;
  padding: 40px;
  box-shadow: 0px 5px 10px #4E342E;
}

.form-section h2 {
  color: black;
  margin-bottom: 10px;
  text-align: center;
}
.form-section p {
  color: black;
  margin-bottom: 25px;
}
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: black;
}
.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}
.form-group input:focus {
  outline: none;
  border-color:  #FFC107;
}

/* login - need to update button */
.login-btn {
  width: 100%;
  padding: 12px;
  background:  #FFC107;
  color: #ffffff;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #816a2b;
  color: white;
}

/* links */
.links {
  margin-top: 15px;
  text-align: center;
}
.links a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

/* info section */
.info-section {
  width: 50%;
  padding: 40px;
  background: linear-gradient(to bottom right, #ffffff, #F4C430);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  box-shadow: 0px 5px 10px #4E342E;
    }

.info-section h3 {
  margin-bottom: 15px;
  text-align: center;
}

    /* Mobile layout */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
}
.form-section,
.info-section {
  width: 100%;
}

}
/* Welcome buttons container */
.welcome-buttons {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Main button style (reuse login button style) */
.service-btn {
  display: block;
  width: 100%;
  padding: 12px;
  background: #F4C430;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  transition: 0.3s;
}

/* Hover effect */
.service-btn:hover  {
  background:  #816a2b;;
}



